service-stubs/org.wso2.carbon.hdfs.mgt.stub/src/main/resources/HDFSFileUploaderDownloader.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.hdfs.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://mgt.hdfs.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.hdfs.carbon.wso2.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.hdfs.carbon.wso2.org/xsd">
            <xs:complexType name="HDFSServerManagementException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="HDFSFileContent">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://mgt.hdfs.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.hdfs.carbon.wso2.org">
            <xs:import namespace="http://mgt.hdfs.carbon.wso2.org/xsd"/>
            <xs:element name="HDFSFileOperationAdminHDFSServerManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="HDFSServerManagementException" nillable="true" type="ax21:HDFSServerManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="downloadFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="downloadFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:HDFSFileContent"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="downloadFileRequest">
        <wsdl:part name="parameters" element="ns:downloadFile"/>
    </wsdl:message>
    <wsdl:message name="downloadFileResponse">
        <wsdl:part name="parameters" element="ns:downloadFileResponse"/>
    </wsdl:message>
    <wsdl:message name="HDFSFileOperationAdminHDFSServerManagementException">
        <wsdl:part name="parameters" element="ns:HDFSFileOperationAdminHDFSServerManagementException"/>
    </wsdl:message>
    <wsdl:message name="createFileRequest">
        <wsdl:part name="parameters" element="ns:createFile"/>
    </wsdl:message>
    <wsdl:message name="createFileResponse">
        <wsdl:part name="parameters" element="ns:createFileResponse"/>
    </wsdl:message>
    <wsdl:portType name="HDFSFileOperationAdminPortType">
        <wsdl:operation name="downloadFile">
            <wsdl:input message="ns:downloadFileRequest" wsaw:Action="urn:downloadFile"/>
            <wsdl:output message="ns:downloadFileResponse" wsaw:Action="urn:downloadFileResponse"/>
            <wsdl:fault message="ns:HDFSFileOperationAdminHDFSServerManagementException" name="HDFSFileOperationAdminHDFSServerManagementException" wsaw:Action="urn:downloadFileHDFSFileOperationAdminHDFSServerManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="createFile">
            <wsdl:input message="ns:createFileRequest" wsaw:Action="urn:createFile"/>
            <wsdl:output message="ns:createFileResponse" wsaw:Action="urn:createFileResponse"/>
            <wsdl:fault message="ns:HDFSFileOperationAdminHDFSServerManagementException" name="HDFSFileOperationAdminHDFSServerManagementException" wsaw:Action="urn:createFileHDFSFileOperationAdminHDFSServerManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HDFSFileOperationAdminSoap11Binding" type="ns:HDFSFileOperationAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="downloadFile">
            <soap:operation soapAction="urn:downloadFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="HDFSFileOperationAdminHDFSServerManagementException">
                <soap:fault use="literal" name="HDFSFileOperationAdminHDFSServerManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createFile">
            <soap:operation soapAction="urn:createFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="HDFSFileOperationAdminHDFSServerManagementException">
                <soap:fault use="literal" name="HDFSFileOperationAdminHDFSServerManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HDFSFileOperationAdminSoap12Binding" type="ns:HDFSFileOperationAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="downloadFile">
            <soap12:operation soapAction="urn:downloadFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="HDFSFileOperationAdminHDFSServerManagementException">
                <soap12:fault use="literal" name="HDFSFileOperationAdminHDFSServerManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createFile">
            <soap12:operation soapAction="urn:createFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="HDFSFileOperationAdminHDFSServerManagementException">
                <soap12:fault use="literal" name="HDFSFileOperationAdminHDFSServerManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HDFSFileOperationAdminHttpBinding" type="ns:HDFSFileOperationAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="downloadFile">
            <http:operation location="downloadFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createFile">
            <http:operation location="createFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HDFSFileOperationAdmin">
        <wsdl:port name="HDFSFileOperationAdminHttpSoap11Endpoint" binding="ns:HDFSFileOperationAdminSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/HDFSFileOperationAdmin"/>
        </wsdl:port>
        <wsdl:port name="HDFSFileOperationAdminHttpSoap12Endpoint" binding="ns:HDFSFileOperationAdminSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/HDFSFileOperationAdmin"/>
        </wsdl:port>
        <wsdl:port name="HDFSFileOperationAdminHttpEndpoint" binding="ns:HDFSFileOperationAdminHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/HDFSFileOperationAdmin"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
