service-stubs/org.wso2.carbon.cassandra.mgt.stub/src/main/resources/CassandraClusterAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://mgt.cassandra.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://mgt.cassandra.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.cassandra.carbon.wso2.org">
    <wsdl:documentation>CassandraClusterAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax26="http://mgt.cassandra.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://mgt.cassandra.carbon.wso2.org/xsd" />
            <xs:element name="CassandraClusterAdminCassandraServerManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CassandraServerManagementException" nillable="true" type="ax25:CassandraServerManagementException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNodes">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getNodesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax25:NodeInformation" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getColumnFamilyStats">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="keyspace" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="cf" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getColumnFamilyStatsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax25:ColumnFamilyStats" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.cassandra.carbon.wso2.org/xsd">
            <xs:complexType name="CassandraServerManagementException">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="NodeInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="load" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="own" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ColumnFamilyStats">
                <xs:sequence>
                    <xs:element minOccurs="0" name="liveDiskSpaceUsed" type="xs:long" />
                    <xs:element minOccurs="0" name="liveSSTableCount" type="xs:int" />
                    <xs:element minOccurs="0" name="memtableColumnsCount" type="xs:int" />
                    <xs:element minOccurs="0" name="memtableDataSize" type="xs:int" />
                    <xs:element minOccurs="0" name="memtableSwitchCount" type="xs:int" />
                    <xs:element minOccurs="0" name="pendingTasks" type="xs:int" />
                    <xs:element minOccurs="0" name="readCount" type="xs:long" />
                    <xs:element minOccurs="0" name="readLatency" type="xs:double" />
                    <xs:element minOccurs="0" name="totalDiskSpaceUsed" type="xs:long" />
                    <xs:element minOccurs="0" name="writeCount" type="xs:long" />
                    <xs:element minOccurs="0" name="writeLatency" type="xs:double" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNodesRequest">
        <wsdl:part name="parameters" element="ns1:getNodes" />
    </wsdl:message>
    <wsdl:message name="getNodesResponse">
        <wsdl:part name="parameters" element="ns1:getNodesResponse" />
    </wsdl:message>
    <wsdl:message name="CassandraClusterAdminCassandraServerManagementException">
        <wsdl:part name="parameters" element="ns1:CassandraClusterAdminCassandraServerManagementException" />
    </wsdl:message>
    <wsdl:message name="getColumnFamilyStatsRequest">
        <wsdl:part name="parameters" element="ns1:getColumnFamilyStats" />
    </wsdl:message>
    <wsdl:message name="getColumnFamilyStatsResponse">
        <wsdl:part name="parameters" element="ns1:getColumnFamilyStatsResponse" />
    </wsdl:message>
    <wsdl:portType name="CassandraClusterAdminPortType">
        <wsdl:operation name="getNodes">
            <wsdl:input message="tns:getNodesRequest" wsaw:Action="urn:getNodes" />
            <wsdl:output message="tns:getNodesResponse" wsaw:Action="urn:getNodesResponse" />
            <wsdl:fault message="tns:CassandraClusterAdminCassandraServerManagementException" name="CassandraClusterAdminCassandraServerManagementException" wsaw:Action="urn:getNodesCassandraClusterAdminCassandraServerManagementException" />
        </wsdl:operation>
        <wsdl:operation name="getColumnFamilyStats">
            <wsdl:input message="tns:getColumnFamilyStatsRequest" wsaw:Action="urn:getColumnFamilyStats" />
            <wsdl:output message="tns:getColumnFamilyStatsResponse" wsaw:Action="urn:getColumnFamilyStatsResponse" />
            <wsdl:fault message="tns:CassandraClusterAdminCassandraServerManagementException" name="CassandraClusterAdminCassandraServerManagementException" wsaw:Action="urn:getColumnFamilyStatsCassandraClusterAdminCassandraServerManagementException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CassandraClusterAdminSoap11Binding" type="tns:CassandraClusterAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getNodes">
            <soap:operation soapAction="urn:getNodes" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="CassandraClusterAdminCassandraServerManagementException">
                <soap:fault use="literal" name="CassandraClusterAdminCassandraServerManagementException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getColumnFamilyStats">
            <soap:operation soapAction="urn:getColumnFamilyStats" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="CassandraClusterAdminCassandraServerManagementException">
                <soap:fault use="literal" name="CassandraClusterAdminCassandraServerManagementException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CassandraClusterAdminSoap12Binding" type="tns:CassandraClusterAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getNodes">
            <soap12:operation soapAction="urn:getNodes" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="CassandraClusterAdminCassandraServerManagementException">
                <soap12:fault use="literal" name="CassandraClusterAdminCassandraServerManagementException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getColumnFamilyStats">
            <soap12:operation soapAction="urn:getColumnFamilyStats" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="CassandraClusterAdminCassandraServerManagementException">
                <soap12:fault use="literal" name="CassandraClusterAdminCassandraServerManagementException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CassandraClusterAdminHttpBinding" type="tns:CassandraClusterAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getNodes">
            <http:operation location="getNodes" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getColumnFamilyStats">
            <http:operation location="getColumnFamilyStats" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CassandraClusterAdmin">
        <wsdl:port name="CassandraClusterAdminHttpsSoap11Endpoint" binding="tns:CassandraClusterAdminSoap11Binding">
            <soap:address location="https://10.150.3.100:-1/services/CassandraClusterAdmin.CassandraClusterAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CassandraClusterAdminHttpsSoap12Endpoint" binding="tns:CassandraClusterAdminSoap12Binding">
            <soap12:address location="https://10.150.3.100:-1/services/CassandraClusterAdmin.CassandraClusterAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="CassandraClusterAdminHttpsEndpoint" binding="tns:CassandraClusterAdminHttpBinding">
            <http:address location="https://10.150.3.100:-1/services/CassandraClusterAdmin.CassandraClusterAdminHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>